/* ChatContainer.module.css */
.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.chatMessages {
  flex-grow: 1;
  overflow-y: auto;
}

.suggestions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 12px;
  padding: 0 6px;
}

.suggestionButton {
  background-color: rgba(64, 64, 69, 0.1);
  border: 1px solid rgba(64, 64, 69, 0.6);
  border-radius: 12px;
  color: #f5f5f5;
  font-size: 16px;
  padding: 28px 28px;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  max-width: 100%;
}

.suggestionButton:hover {
  background-color: rgba(64, 64, 69, 0.2) !important;
  border-color: rgba(64, 64, 69, 0.8) !important;
  color: #f5f5f5 !important;
}

.suggestionButton:active {
  background-color: rgba(64, 64, 69, 0.3) !important;
  border-color: rgba(64, 64, 69, 1) !important;
  color: #f5f5f5 !important;
}

.chatInput {
  flex-shrink: 0;
  padding: 16px;
}
