.dashboardLayout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sider {
  background: #212327;
  color: white;
  height: 100vh;
  flex-shrink: 0;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.content {
  background: #292a2d;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}
